<div class="shadow"></div>

<article class="container"> 

  <!--  简述 Description  -->

    <section id="description" class="row description">
        <div class="span6 offset3 panel-description button-text-panel text-center">
          <div class="padding-middle">
               <img class="profile img-circle loading" src="http://www.dandyweng.com/images/picture.jpg">
               <h4>我是翁天信，一个 17 岁的 Homeschooler，爱好旅行、摄影和创造。</h4>
               <h5>上世纪九十年代中期生于广州。整个世界都是我的学校。学自己之所想所爱。自由的身心定能使我成为一个一直朝前行走的行者。</h5>
               <hr class="soften">
               <p><span class="hidden-phone">这是我的个人网站，</span>欢迎访问<a href="http://blog.dandyweng.com" target="_blank">我的博客</a>和<a href="http://www.camarts.cn" target="_blank">摄影网站</a></p>
            </div>
        </div>
    </section>
