<% provide(:title, 'All users') %>
<h1>所有生物</h1>
<%= will_paginate %>

<ul class="users">
	<% @users.each do |user| %>
	<%= render user %>
	<% if current_user.admin? && !current_user?(user) %>
	| <%= link_to "delete", user, method: :delete,
	data: { confirm: "You sure?" } %>
	<% end %>
	<% end %>
</ul>

<%= will_paginate %>