<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
  	<% i= current_user.name %>
    <%= f.text_area :content, placeholder: "#{i} ， 说点什么..." %>
  </div>
  <%= f.submit "提交", class: "btn btn-large btn-primary" %>
<% end %>