<div class="modal hide" id="signupModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">x</button>
    <h3><%= image_tag("littletwitter.jpg",class: "profile img-circle loading", width: "40") %></h3>
  </div>
  <div class="modal-body">


   <form accept-charset="UTF-8" action="/users" class="new_user"
      id="new_user" method="post">

  <label for="user_name">昵称</label>
  <input id="user_name" name="user[name]" size="30" type="text" />

  <label for="user_email">邮箱</label>
  <input id="user_email" name="user[email]" size="30" type="text" />

  <label for="user_password">密码</label>
  <input id="user_password" name="user[password]" size="30"
         type="password" />

  <label for="user_password_confirmation">确认</label>
  <input id="user_password_confirmation"
         name="user[password_confirmation]" size="30" type="password" />

  <input class="btn btn-large btn-large btn-primary" name="commit" type="submit"
         value="注册" />
</form>

  </div>
  <div class="modal-footer">
    <%= image_tag("hua.png",class: "profile img-circle loading", width: "80") %>&nbsp;瞄了个眯，又茫然了，好像注册过了?
    <a href="signin" class="btn btn-primary">登录</a>
  </div>
</div>