<div class="modal hide" id="signupModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">x</button>
    <h3><%= image_tag("littletwitter.jpg",class: "profile img-circle loading", width: "30") %></h3>
  </div>
  <div class="modal-body">


   <form accept-charset="UTF-8" action="/users" class="new_user"
      id="new_user" method="post">

  <label for="user_name">Name</label>
  <input id="user_name" name="user[name]" size="30" type="text" />

  <label for="user_email">Email</label>
  <input id="user_email" name="user[email]" size="30" type="text" />

  <label for="user_password">Password</label>
  <input id="user_password" name="user[password]" size="30"
         type="password" />

  <label for="user_password_confirmation">Confirmation</label>
  <input id="user_password_confirmation"
         name="user[password_confirmation]" size="30" type="password" />

  <input class="btn btn-large btn-large btn-primary" name="commit" type="submit"
         value="Create my account" />
</form>

  </div>
  <div class="modal-footer">
    瞄了个眯，我好像注册过了？??
    <a href="#signinModal" class="btn btn-primary">登录</a>
  </div>
</div>