<form accept-charset="UTF-8" action="/sessions" method="post">
  <div>
    <label for="session_email">邮箱</label>
    <input id="session_email" name="session[email]" size="30" type="text" />
  </div>
  <div>
    <label for="session_password">密码</label>
    <input id="session_password" name="session[password]" size="30"
    type="password" />
  </div>
  <input class="btn  btn-primary" name="commit" type="submit"
  value="登录" />
</form>
<div class="">
 <a href="signup" class="btn btn-primary">没注册不让进</a>
 <%= image_tag("cui.png",class: "profile img-circle loading", width: "70") %>
 </div>

</div>

