<div class="modal hide" id="signinModal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">x</button>
		<h3><%= image_tag("littletwitter.jpg",class: "profile img-circle loading", width: "30") %></h3>
	</div>

	<div class="modal-body">

		<%= render "shared/sign_in" %>
	</div>
</div>