@import "bootstrap";
@import "bootstrap-responsive";

.hero-unit {
  background: image-url("cover-5.jpg");
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="image-url("cover-5.jpg")", sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src="image-url("cover-5.jpg")", sizingMethod='scale')";
  color: #fff;
  height: 480px;  
  margin-bottom: 0;
}

/* dandywang's 
.hero-unit img {
  max-width: 500px;
  -webkit-animation: title-in 1s ease-out 0 1 forwards;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  transition: 500ms;

}
.hero-unit img:hover {
  -webkit-transform: translateY(-5px) scale(1.05) rotate(2deg);
  -moz-transform: translateY(-5px) scale(1.05) rotate(2deg);
  transform: translateY(-5px) scale(1.05) rotate(2deg);
}
#loading {
  position: relative;
  background: -webkit-gradient( linear, left bottom, left top, color-stop(0.2, rgba(0, 0, 0, 0.8)), color-stop(0.50, rgba(0, 0, 0, 0.7)), color-stop(0.80, rgba(0, 0, 0, 0.6)) );
  width: 100px;
  height: 100px;
  margin: 0px auto 80px;
  color: #FFF;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.35), 1px 1px 50px 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.35), 1px 1px 50px 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.35), 1px 1px 50px 8px rgba(0, 0, 0, 0.4);
  -webkit-animation: spinner-in 1s linear 0 1 forwards;
}
img.profile {
  max-width: 100px;
  margin-top: 5px;
  margin-bottom: 10px;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  transition: 500ms;
  
  -webkit-box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.7), 0px 0px 30px 8px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.7), 0px 0px 30px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.7), 0px 0px 30px 8px rgba(0, 0, 0, 0.25);
}
img.profile:hover {
  -webkit-animation: profile-img-hover 1000ms ease-out 100ms infinite forwards;
}
img.profile:active {
  -webkit-animation: profile-img-active 500ms linear 0 infinite forwards;
}
*/

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$gray: #555;
$grayDrak: #333;
$grayLight: #999;
$grayLighter: #eee;
$grayDarker: #222;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 40px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #ffc;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }

}/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLight;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto !important;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

 /* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}