<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
<footer class="footer">
  <small>
    <%= link_to image_tag("github 108.jpg", width: "50",alt: "github"), 'http://github.com/lafmad' %>
  </small>
  <nav>
    <ul class="nav nav-inverse pull-right">
      <li><%= link_to "找工作", '#' %></li>
      <li><%= link_to "占位", '#' %></li>
    </ul>
  </nav>
</footer>
  </div>
  </div>
</div>