<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <footer class="footer">
        <small>
          <%= link_to image_tag("github 108.jpg", width: "50",alt: "github"), 'http://github.com/lafmad' %>
        </small>
        <nav>
          <ul class="nav nav-inverse pull-right ">
            <li><a href="http://lafmad.github.io/">blog</a></li>
            <li><a href="about">关于</a></li>
           
          </ul>
        </nav>
      </footer>
    </div>
  </div>
</div>